.App {
  text-align: center;
  background-color: rgb(210, 230, 230);
  height: 100vh;
  box-sizing: border-box;
}

.App-header {
  background-color: #282c34;
  min-height: 100px;
  display: flex;
  align-items: center;
  font-size: 24px;
  color: white;
  padding: 0 25px;
}

.header-link {
  text-decoration: none;
  color: aliceblue;
  margin-right: 30px;
}

.header-link:hover {
  color: rgb(181, 191, 201);
}

.home-page {
  display: flex;
  justify-content: center;
}

table {
  margin-top: 30px;
  display: block;
}

table,
th,
td {
  border: 1px solid white;
  border-collapse: collapse;
}
th,
td {
  background-color: #bfdbdb;
  padding: 10px 20px;
  height: 30px;
}

.button {
  background-color: #282c34;
  text-decoration: none;
  color: aliceblue;
  font-size: 16px;
  font-weight: 400;
  padding: 10px 14px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 10px;
}

.button:hover {
  background-color: #3b3f49;
}
.button-link {
  padding: 8.5px 14px;
}

select {
  background-color: #282c34;
  color: aliceblue;
  border: #797d85;
  margin-right: 6px;
  padding: 4px;
  border-radius: 3px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
input,
label {
  min-width: 400px;
  text-align: left;
  height: 30px;
}

input {
  margin-bottom: 10px;
  border: 1px solid rgb(192, 192, 221);
  border-radius: 10px;
  padding-left: 10px;
}
